@import 'nprogress/nprogress.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-weight: 500;
    }
}

/* Çubuğun rengini ve yüksekliğini değiştirin */
#nprogress .bar {
    background: #ff4500; /* Turuncu renk */
    height: 5px; /* Çubuğun yüksekliği */
}

/* Spinner'ın rengini ve boyutunu değiştirin */
#nprogress .spinner {
    top: 10px;
    right: 10px;
}

#nprogress .spinner-icon {
    border-top-color: #ff4500; /* Turuncu dönen çizgi */
    border-left-color: #ff4500;
    width: 50px; /* Spinner boyutu */
    height: 50px;
}

/* Çubuğun başlangıç ve bitiş animasyonları */
#nprogress .peg {
    box-shadow: 0 0 10px #ff4500, 0 0 5px #ff4500; /* Işıklı efekt */
}
